{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}
{% set show_fields =
    display.field_date_of_birth or
    display.field_email or
    display.field_mobile or
    display.field_location
%}{%
  set display_name = [
    display.field_first_name ? fields.field_first_name.content : '',
    display.field_last_name ? fields.field_last_name.content : ''
  ]|join(' ')|trim
%}{%
  set show_name = display_name != ''
%}
<article class="user user-listing">
{% if display.user_picture %}
  <div class="picture">{{ fields.user_picture.content }}</div>
{% endif %}
  <div class="name">
    <div>{{ fields.name.content }}</div>
    {% if show_name %}
    <div>({{ display_name }})</div>
    {% endif %}
  </div>
</article>
{% if (show_fields or has_admin_links) %}
<details>
  <summary></summary>

  {% if (show_fields) %}
  <ul class="admin-fields">
    {% for field_name in
      [
        'field_date_of_birth',
        'field_email',
        'field_mobile',
        'field_location'
      ]
    %}
      {% set field = fields[field_name] %}
      {% if display[field_name] %}<li>{% if field.label %}<label>{{ field.label }}</label> {% endif %}{{ field.content }}</li>{% endif %}
    {% endfor %}
  </ul>
  {% endif %}

  {% if (has_admin_links) %}
    {% for field in member_admin_links %}
      {{ field.content }}
    {% endfor %}
  {% endif %}

</details>
{% endif %}