<article class="alert">
  <header>
    {{ fields.user_picture.content }}
    {{ fields.uid.content }}
    {{ fields.field_alert_action.content }}
    {{ fields.field_alert_project.content }}
    {% if fields.field_alert_action.content|striptags|trim == "commented on" %}
      {{ fields.name.content }}'s post
    {% endif %}
    {{ fields.field_alert_post.content }}
    in
    {{ fields.field_alert_collective.content }}
  </header>
  <main>
    {{ fields.field_prj_gen_concept.content }}
    {{ fields.field_prj_gen_description.content }}
    {% if fields.field_alert_action.content|striptags|trim == "posted" %}
      {{ fields.comment_body.content }}
    {% else %}
      {{ fields.comment_body_2.content }}
    {% endif %}
  </main>
  <footer>{{ fields.changed.content }}</footer>
</article>